.header {
  background-color: #fafafa;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;
  background-color: #ffffff;
}

.header__logo-img {
  display: block;
}

.header__container {
  display: none;
}

@media (min-width: 768px) {
  .header {
    position: relative;
  }

  .header__logo {
    position: absolute;
    top: 22px;
    left: $container-padding-tablet;
    z-index: 1;
    background: transparent;
    padding: 0;
  }

  .header__container {
    display: block;
  }

  .header__nav-list {
    @include list;
    display: flex;
  }

  .header__nav-item {
    display: none;

    &--income .header__nav-link {
      padding-left: 0;
    }

    &--delivery {
      display: block;
      margin-left: auto;
    }

    &--delivery .header__nav-link {
      padding-right: 0;
      font-weight: 400;
      color: #444444;
    }
  }

  .header__nav-link {
    display: block;
    position: relative;
    z-index: 1;
    padding: 16px 32px;
    font-weight: 700;
    color: inherit;

    &:hover,
    &:focus {
      color: rgba(#000000, 0.6);
    }

    &:active {
      color: rgba(#000000, 0.3);
    }
  }
}

@media (min-width: 1050px) {
  .header__nav-item {
    display: block;
  }

  .header__logo {
    left: 50%;
    top: 9px;
    transform: translateX(-50%);
  }
}
