.hero {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top -15px center;
}

.hero__heading {
  margin: 0;
  padding: 76px $container-padding-mobile 120px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.hero__nav-list {
  @include list;
}

.hero__nav-item {
  &--interior .hero__nav-link {
    position: relative;
    background-color: #63d1bb;
  }

  &--toys .hero__nav-link {
    position: relative;
    background-color: #56c3b2;
  }

  &--interior .hero__nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 36px;
    transform: translateY(-50%);
    width: 41px;
    height: 63px;
    background-image: url("../img/interior.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &--toys .hero__nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 27px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-image: url("../img/toy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
}

.hero__nav-link {
  display: block;
  padding: 27px $container-padding-mobile;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero {
    position: relative;
    background-image: url("../img/hero-desktop.jpg");
    background-position: top -56px center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -12px;
      z-index: 1;
      height: 24px;
      background: url("../img/zigzag-fill-desktop.svg") center repeat-x;
      background-size: contain;
    }
  }

  .hero__heading {
    padding: 100px 0 372px;
    font-size: 43px;
    line-height: 50px;
  }

  .hero__nav-list {
    display: flex;
  }

  .hero__nav-item {
    width: 50%;
  }

  .hero__nav-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1050px) {
  .hero__heading {
    padding: 98px 0 360px;
    font-size: 53px;
    line-height: 57px;
  }
}

@media (max-width: 767px) {
  .hero__container {
    padding: 0;
  }
}
