.popup {
  display: flex;
  justify-content: center;
  padding: 15px 0;

  &--hidden {
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(#ffffff, 0.9);
  z-index: 5;
}

.popup__box {
  margin: auto;
  width: 100%;
  max-width: 320px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}

@media (min-width: 768px) {
  .popup__box {
    max-width: 566px;
  }
}
