$container-padding-mobile: 30px;
$container-padding-tablet: 50px;
$popup-transition-time: 0.5s;

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v17-cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v17-cyrillic-700.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  min-width: 320px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-3,
.col-4,
.col-6 {
  width: 100%;
  padding: 0 15px;
}

.tac {
  text-align: center;
}

.noscroll {
  overflow: hidden;
}

.button {
  display: block;
  padding: 14px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #444444;
  text-transform: uppercase;
  border: 2px solid #444444;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;

  &--turquoise {
    color: #ffffff;
    border-color: #63d1bb;
    background-color: #63d1bb;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #444444;
  }

  &--turquoise:hover,
  &--turquoise:focus {
    background-color: #59d5bc;
  }

  &:active,
  &--turquoise:active {
    color: rgba(#ffffff, 0.3);
  }
}

@media (min-width: 768px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: calc(100% / 3);
  }

  .col-6 {
    width: 50%;
  }
}
